# Compiled Object files
*.slo
*.lo
*.o
*.sdf
*.suo
*.opensdf
*.exe
*.ilk
*.pdb
*.fxo

Breakout/Debug/*.*
Breakout/Release/*.*
Breakout/bin/Debug/*
Release/*.*

Breakout.cbp
Breakout.depend
Breakout.layout
Breakout.rc


# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
