# Compiled Object files
*.slo
*.lo
*.o
*.sdf
*.suo
*.opensdf
*.fxo
Release/*.*
Breakout/Debug/*.*
Breakout/Release/*.*
Breakout/bin/Debug/*

# Compiled Dynamic libraries
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
